# Adathalmaz inportálása, szükséges oszlopok kiszedése, módosítása

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("kindle_reviews.csv")
df["reviewText"] = df["reviewText"].astype(str)
df.head()

,Unnamed: 0,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0,B000F83SZQ,"[0, 0]",5,I enjoy vintage books and movies so I enjoyed ...,"05 5, 2014",A1F6404F1VG29J,Avidreader,Nice vintage story,1399248000
1,1,B000F83SZQ,"[2, 2]",4,This book is a reissue of an old one; the auth...,"01 6, 2014",AN0N05A9LIJEQ,critters,Different...,1388966400
2,2,B000F83SZQ,"[2, 2]",4,This was a fairly interesting read. It had ol...,"04 4, 2014",A795DMNCJILA6,dot,Oldie,1396569600
3,3,B000F83SZQ,"[1, 1]",5,I'd never read any of the Amy Brewster mysteri...,"02 19, 2014",A1FV0SX13TWVXQ,"Elaine H. Turley ""Montana Songbird""",I really liked it.,1392768000
4,4,B000F83SZQ,"[0, 1]",4,"If you like period pieces - clothing, lingo, y...","03 19, 2014",A3SPTOKDG7WBLN,Father Dowling Fan,Period Mystery,1395187200

In [4]:
del df['Unnamed: 0']
del df['asin']
del df['helpful']
del df['reviewTime']
del df['reviewerID']
del df['reviewerName']
del df['unixReviewTime']
del df['summary']

In [5]:
df.head()

   overall                                         reviewText
0        5  I enjoy vintage books and movies so I enjoyed ...
1        4  This book is a reissue of an old one; the auth...
2        4  This was a fairly interesting read.  It had ol...
3        5  I'd never read any of the Amy Brewster mysteri...
4        4  If you like period pieces - clothing, lingo, y...

In [6]:
df.overall.value_counts()

5    575264
4    254013
3     96194
2     34130
1     23018
Name: overall, dtype: int64

In [7]:
def review_sentiment(rating):   
     if(rating == '1' or rating == '2' or rating == '3'== 1 or rating == 2 or rating == 3):
        return "0"
     else:
        return "1"

In [8]:
df.overall = df.overall.apply(review_sentiment)

In [9]:
print("pozítívak", df[df["overall"] == "1"].count())
print("negatívak", df[df["overall"] == "0"].count())

pozítívak overall       852295
reviewText    852295
dtype: int64
negatívak overall       130324
reviewText    130324
dtype: int64

# Train, validation és test adathalmazok létrehozása

In [10]:
len_df = len(df)
print(len_df)

len_train = int(round(len_df * 0.6))
len_val_test = (len_df - len_train) // 4
len_train = len_train // 2

print(len_train)
print(len_val_test)

982619
294785
98262

In [11]:
df_0 = df.loc[df['overall'] == '0'].copy()
df_1 = df.loc[df['overall'] == '1'].copy()

df_0_train = df_0[:len_train].copy()
df_1_train = df_1[:len_train].copy()

df_0_val = df_0[len_train:len_train+len_val_test].copy()
df_1_val = df_1[len_train:len_train+len_val_test].copy()

df_0_test = df_0[len_train+len_val_test:].copy()
df_1_test = df_1[len_train+len_val_test:].copy()

In [12]:
df_train = pd.concat([df_0_train, df_1_train])
df_train = df_train.sample(frac=1)
#df_train.hist()

In [13]:
df_val = pd.concat([df_0_val, df_1_val])
df_val = df_val.sample(frac=1)
#df_val.hist()

In [14]:
df_test = pd.concat([df_0_test, df_1_test])
df_test = df_test.sample(frac=1)
#df_test.hist()

In [15]:
import json

train = "kindle_reviews_train.json"
df_train.to_json(train, orient="records")
df_readed_train = pd.read_json(train, orient='records')
df_readed_train.head()

   overall                                         reviewText
0        1  Totally unfair! I lost three nights sleep read...
1        0  It was O K if I remember rightly. By the time ...
2        1  I have read 2 of the private pleasure series a...
3        0  I really wish I enjoyed The Reluctant Bride  m...
4        1  Anna survived not one but two really horrible ...

In [16]:
val = "kindle_reviews_val.json"
df_val.to_json(val, orient="records")
df_readed_val = pd.read_json(val, orient='records')
df_readed_val.head()

   overall                                         reviewText
0        1  The Ultimate Guide to Keeping Crayfish as Aqua...
1        1  I thought this was a fine overview of acupunct...
2        1  April Angel pens "Stranded Temptation" in a we...
3        1  Very good guidebook to the kindle fire.  I lov...
4        1  I fell in love with Scout and Lucian and even ...

In [17]:
test = "kindle_reviews_test.json"
df_test.to_json(test, orient="records")
df_readed_test = pd.read_json(test, orient='records')
df_readed_test.head()

   overall                                         reviewText
0        1  I REALLY ENJOYED THIS BOOK ,IT WELL WRITTEN AN...
1        1  This was one of the first books in this genre ...
2        1  *Previously Posted on Goodreads*"Holy discover...
3        1  Good info with valid references, and solid adv...
4        1  Jeffrey Powell did a good job of describing AD...

# Stop words-ök kiszedése, és tokenizáció

In [18]:
##from nltk.stem.snowball import SnowballStemmer

#stemmer = SnowballStemmer('english')
#print(df_test.head())

In [19]:
#df_test = df_test.apply(stemmer.stem)
#df_val = df_val.apply(stemmer.stem)
#df_train = df_train.apply(stemmer.stem)

In [20]:
pip install nltk

Requirement already satisfied: nltk in c:\python39\lib\site-packages (3.6.2)
Requirement already satisfied: joblib in c:\python39\lib\site-packages (from nltk) (1.0.1)
Requirement already satisfied: tqdm in c:\python39\lib\site-packages (from nltk) (4.60.0)
Requirement already satisfied: regex in c:\python39\lib\site-packages (from nltk) (2021.4.4)
Requirement already satisfied: click in c:\python39\lib\site-packages (from nltk) (7.1.2)
Note: you may need to restart the kernel to use updated packages.

In [21]:
import nltk

nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\udvar\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [22]:
from nltk.corpus import stopwords
import os
import string 
stop = set(stopwords.words('english'))
punctuation = list(string.punctuation)
stop.update(punctuation)

In [23]:
print(stop)

{'but', 'himself', 'until', '}', 'out', 'doing', 'hers', 're', 'ours', "needn't", 'whom', '^', 'yourself', 'hasn', "you're", 'your', 's', '&', 'own', 'these', 'itself', 'those', 'shan', "'", 'there', 'couldn', 'where', 'same', 'now', 'been', 'most', 'i', 'this', 'then', 'weren', 'from', 've', 'off', "don't", 'or', 'and', 'about', 'some', "hadn't", 'herself', "isn't", 'her', 'why', "won't", 'during', 'once', 'by', '=', 'on', "she's", 'shouldn', "mightn't", "weren't", 'at', 'wasn', 'his', 'do', 'what', 'only', '\\', 'am', 'being', 'nor', "wouldn't", 'does', "couldn't", 'no', "it's", '>', 'him', 'my', 'just', 'before', 'mustn', 'under', ']', 'can', ';', 'hadn', "doesn't", "didn't", 'such', '{', "shouldn't", 'through', 'aren', 'myself', 'won', '~', '|', 'when', 'ain', 'so', 'over', 'were', '*', 'below', '$', 'it', 'not', 'as', 'after', 'ma', ':', 'm', '.', "that'll", 'd', 'them', "you'd", 'o', 'if', 'how', 'a', "aren't", 'for', "you'll", 'will', 'don', ')', 't', 'than', '%', 'into', '?', 'any', '#', 'themselves', 'they', 'that', 'because', 'to', 'our', 'she', "wasn't", '`', 'each', '@', 'all', '_', 'had', 'he', 'here', 'further', 'other', 'are', 'very', 'too', 'both', 'isn', 'yourselves', '/', 'more', 'of', 'ourselves', 'which', 'again', 'didn', 'haven', "mustn't", 'yours', 'll', 'doesn', 'its', 'with', 'above', 'who', '[', 'is', 'having', 'mightn', 'wouldn', '<', '+', 'few', 'did', 'down', 'be', '"', 'an', '!', "you've", 'between', 'should', 'y', 'up', 'while', ',', 'theirs', '(', 'their', 'against', 'we', 'was', 'me', "hasn't", "should've", 'needn', "haven't", 'have', '-', "shan't", 'the', 'you', 'in', 'has'}

In [24]:
from nltk.tokenize import word_tokenize

In [25]:
df_train.head()

       overall                                         reviewText
223125       1  Totally unfair! I lost three nights sleep read...
573304       0  It was O K if I remember rightly. By the time ...
165684       1  I have read 2 of the private pleasure series a...
919763       0  I really wish I enjoyed The Reluctant Bride  m...
40118        1  Anna survived not one but two really horrible ...

In [26]:
nltk.download('punkt')

tokenized_reviews = df_train["reviewText"].apply(lambda review_text: word_tokenize(review_text.lower()))

tokenized_reviews.head()

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\udvar\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

223125    [totally, unfair, !, i, lost, three, nights, s...
573304    [it, was, o, k, if, i, remember, rightly, ., b...
165684    [i, have, read, 2, of, the, private, pleasure,...
919763    [i, really, wish, i, enjoyed, the, reluctant, ...
40118     [anna, survived, not, one, but, two, really, h...
Name: reviewText, dtype: object

In [27]:
tokenized_reviews.head(n = 30)

223125    [totally, unfair, !, i, lost, three, nights, s...
573304    [it, was, o, k, if, i, remember, rightly, ., b...
165684    [i, have, read, 2, of, the, private, pleasure,...
919763    [i, really, wish, i, enjoyed, the, reluctant, ...
40118     [anna, survived, not, one, but, two, really, h...
260134    [wonderful, characters, and, a, great, story, ...
109266    [not, very, good, ., was, really, tired, of, t...
74395     [i, bought, this, book, based, upon, the, high...
92175     [this, story, is, a, story, about, a, cop, and...
302234    [this, story, reviewed, by, twolips, reviews, ...
548981    [i, quite, enjoyed, this, book, and, felt, a, ...
12300     [this, book, has, everything, you, need, to, e...
98329     [a, delightful, and, funny, suspense, novel, w...
228913    [our, review, by, literal, addiction, 's, pack...
170977    [i, like, your, book, of, short, stories, ., g...
469477    [i, have, to, agree, with, the, other, reviewe...
292163    [mob, fest, '29, :, the, true, story, about, t...
103239    [i, really, enjoyed, this, gentle, book, of, t...
155963    [so, exciting, to, read, my, husband, 's, stor...
226749    [this, book, is, definitely, what, i, would, c...
255087    [dr., danica, kent, ,, m.d., ,, had, a, crush,...
154236    [terri, reid, is, a, writer, that, has, a, nat...
545102    [do, n't, get, this, unless, it, is, free, !, ...
220333    [growing, info, ,, recipe, info, for, all, ., ...
199987    [this, is, a, review, for, both, books, of, th...
41373     [``, the, secret, apocalypse, '', is, a, fast,...
58327     [i, liked, the, book, but, i, was, angry, at, ...
45528     [the, story, and, characters, were, slightly, ...
35694     [great, series, of, stories, that, are, hard, ...
39550     [dead, drop, is, a, tale, of, vampire, hunters...
Name: reviewText, dtype: object